{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<body>
<h1>Manage devices</h1>
<h2>Existing devices</h2>
<table class="table">
    <thead>
    <tr>
        <th>name</th>
        <th>status</th>
        <th>address</th>
        <th>location</th>
    <tr>
    </thead>
    <tbody>
    {% for d in devices %}
    <tr>
        <td>{{ d.name}}</td>
        <td>{{ d.status }}</td>
        <td>{{ d.address }}</td>
        <td>{{ d.location }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
<h2>Create new device</h2>
<form action="{{ url_for('add_device')  }}" method="post" novalidate>
    {{ create_form.hidden_tag() }}
    <p>
        {{ create_form.name.label }}<br>
        {{ create_form.name(size=32) }}<br>
        {% for error in create_form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ create_form.status.label }}<br>
        {{ create_form.status(size=32) }}<br>
        {% for error in create_form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ create_form.video_source.label }}<br>
        {{ create_form.video_source(size=32) }}<br>
        {% for error in create_form.video_source.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ create_form.address.label }}<br>
        {{ create_form.address(size=32) }}<br>
        {% for error in create_form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ create_form.listener_port.label }}<br>
        {{ create_form.listener_port(size=32) }}<br>
        {% for error in create_form.listener_port.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ create_form.location.label }}<br>
        {{ create_form.location(size=32) }}<br>
        {% for error in create_form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ create_form.capture() }} {{ create_form.capture.label }}</p>
    <p>{{ create_form.submit() }}</p>
</form>

<h2>Update device</h2>
<form action="{{ url_for('update_device')  }}" method="post" novalidate>
    {{ update_form.hidden_tag() }}
    <p>
        {{ update_form.name.label }}<br>
        {{ update_form.name(size=32) }}<br>
        {% for error in update_form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ update_form.status.label }}<br>
        {{ update_form.status(size=32) }}<br>
        {% for error in update_form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ update_form.video_source.label }}<br>
        {{ update_form.video_source(size=32) }}<br>
        {% for error in update_form.video_source.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ update_form.address.label }}<br>
        {{ update_form.address(size=32) }}<br>
        {% for error in update_form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ update_form.listener_port.label }}<br>
        {{ update_form.listener_port(size=32) }}<br>
        {% for error in update_form.listener_port.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ update_form.capture() }} {{ update_form.capture.label }}</p>
    <p>{{ update_form.submit() }}</p>
</form>

{% endblock %}